.content {
   width: 90%;
   margin: 0 auto;
   padding: 3.5rem 0;

   @include viewport($tablet-v) {
      width: 70%;
   }

   @include viewport($desktop-v) {
      width: 60%;
   }

   @include viewport($desktopL-v) {
      width: 50%;
   }
}

.cycle-content {
   font: bold 1.6rem monospace;
   background-color: #00000085;
   width: 100%;
   height: 15rem;
   box-shadow: 0px 5px 8px #00000030;
   transition: background-color 300ms ease;
   overflow: hidden;
   position: relative;

   #cycle-color-value {
      color: #fafafa;
      display: block;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
   }
}

.color-controls {

   .controls__heading {
      font: normal 1.6rem 'Fredoka One', sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: #1f1f1f;}

   .controls__fields {
      margin: 2rem 0;}

   .controls__input-container {
      background-color: #dddddd;
      color: #999999;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0 1rem;
      border-radius: 10rem;
      display: flex;
      align-items: center;
      transition: background-color 300ms ease;

      &:hover {
         background-color: #ccc;
         color: #777;}
   }

   .input__label {
      font-size: 1.4rem;
      padding: 0 1rem;
      display: block;}

   .input-container__input {
      letter-spacing: 1px;
      background-color: #00000000;
      font: 1.6rem monospace, sans-serif;
      height: 4rem;
      border: none;
      display: block;
      flex-grow: 2;}

   .controls__button {
      text-align: center;
      margin-top: 5rem;
      display: flex;
      flex-direction: column-reverse;}

   @include viewport($tablet-v) {
      .controls__fields {
         display: flex;
         justify-content: center;}
      
      .controls__input-container {
         margin: 0 .6rem 0;
         flex-basis: 2rem;}

      .input-container__input {
         width: 6rem;
         display: block;
         flex-grow: 1;}

      .controls__button {
         display: block;}
   }

   @include viewport($desktop-v) {
      .controls__fields {
         margin: 3rem 0;}

      .controls__heading {
         font-size: 2rem;}
   
      .input__label {
         font-size: 1.9rem;}
   
      .input-container__input {
         font-size: 1.9rem;}
   }

   @include viewport($desktopL-v) {
      .controls__fields {
         margin: 4rem 0;}

      .controls__heading {
         font-size: 2.5rem;}
   
      .input__label {
         font-size: 2rem;}
   
      .input-container__input {
         font-size: 2rem;}
   }
}
