.error-container {
   background-color: #0f0f0ff0;
   color: #fafafa;
   width: 100%;
   height: 7rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   transition: transform 500ms ease;
   
   .error-container__close-button {
      height: 100%;
      position: absolute;
      top: 0;
      right: 1.5rem;

      button {
         font: 2rem 'Fredoka One', sans-serif;
         text-transform: uppercase;
         line-height: 7rem;
         background-color: #00000000;
         color:#fafafa;
         border: none;
         display: block;
         transition: transform 300ms ease;
         cursor: pointer;

         &:hover {
            transform: scale(1.30);}
      }
   }

   .error__heading {
      font: 1.9rem 'Fredoka One', sans-serif;
      text-transform: uppercase;
      margin-bottom: .2rem;}

   .error__body {
      font-size: 1.3rem;
      font-family: 'Alata', sans-serif;}

   .invalid-hexcode {
      font-weight: bold;}
}

.hidden-error-container {
   transform: translate(0%, -100%);}