* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;}

html {
   font-size: 10px;}

body {
   font-family: sans-serif;
   overflow-x: hidden;
   position: relative;}